html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Jost";
  color: #444; }

body {
  overflow: hidden; }

.calendar-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  position: relative; }

.calendar-slide:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: -4;
  top: 0;
  left: 0; }

#february-slider {
  background-image: url(../img/february.jpg); }

#march-slider {
  background-image: url(../img/march.jpeg); }

#april-slider {
  background-image: url(../img/april.jpeg); }

#may-slider {
  background-image: url(../img/may.jpeg); }

#june-slider {
  background-image: url(../img/june.jpeg); }

#july-slider {
  background-image: url(../img/july.jpg); }

#august-slider {
  background-image: url(../img/august.jpg); }

#september-slider {
  background-image: url(../img/september.jpeg); }

#october-slider {
  background-image: url(../img/october.jpg); }

#november-slider {
  background-image: url(../img/november.jpg); }

#december-slider {
  background-image: url(../img/december.jpg); }

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #444;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(24px, 0); } }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #eee; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

#page-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  position: relative; }
  #page-wrapper header {
    flex: 0 0 auto; }
  #page-wrapper .calendar-swiper {
    flex: 1; }
  #page-wrapper .cal-loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #page-wrapper .cal-loader span {
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 200;
      font-size: 2.5rem; }
    #page-wrapper .cal-loader.fade {
      opacity: 0; }
    #page-wrapper .cal-loader.hidden {
      display: none; }

.header-logo {
  display: none; }

header {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  background-color: #00366f;
  color: white;
  height: 5rem;
  position: relative; }
  header .header-logo {
    position: absolute;
    left: 1rem;
    height: 2.5rem; }
  header .navigation {
    position: relative;
    display: flex;
    justify-content: center; }
  header a {
    flex: 0;
    flex-basis: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms ease-in-out; }
    header a:hover {
      cursor: pointer; }
    header a:focus {
      outline: none; }
  header .month-text-container {
    flex: 0 1 auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    width: 14rem;
    max-width: 100%; }
    header .month-text-container .swiper-wrapper {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0; }
      header .month-text-container .swiper-wrapper .swiper-slide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
  header .show-months-btn {
    position: absolute;
    right: -3rem;
    top: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-size: 1.5rem; }
    header .show-months-btn i {
      margin: 0.2rem;
      transition: opacity 120ms ease-in-out; }
    header .show-months-btn i.arrow {
      opacity: 0; }
    header .show-months-btn i.calendar {
      opacity: 0.75; }
    header .show-months-btn:hover {
      opacity: 1; }
      header .show-months-btn:hover i.arrow,
      header .show-months-btn:hover i.calendar {
        opacity: 1; }
  header .months-dropdown-menu {
    font-size: 2rem;
    position: absolute;
    width: 100%;
    left: 0;
    top: 5rem;
    height: calc(100vh - 5rem);
    opacity: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 0.25rem;
    overflow: hidden;
    transition: opacity 400ms ease-out;
    display: none;
    padding: 0.25rem; }
    header .months-dropdown-menu.open {
      opacity: 1; }
    header .months-dropdown-menu .month {
      display: flex;
      flex-direction: column; }
      header .months-dropdown-menu .month:hover {
        cursor: pointer;
        background-color: rgba(190, 190, 190, 0.9); }
      header .months-dropdown-menu .month .banner {
        padding: 0 0.5rem;
        background: rgba(0, 69, 127, 0.9);
        color: white;
        font-weight: 600;
        border: 2px solid rgba(255, 255, 255, 0.85);
        display: flex;
        align-items: center; }
        header .months-dropdown-menu .month .banner span {
          font-weight: 300; }
      header .months-dropdown-menu .month .body {
        flex: 1;
        justify-content: center;
        align-items: center;
        background-color: rgba(230, 230, 230, 0.9);
        color: #444;
        font-size: 1.8rem;
        font-weight: 600;
        border: 1px solid rgba(220, 220, 220, 0.95);
        display: none; }
      header .months-dropdown-menu .month.active .banner {
        background: rgba(0, 59, 117, 0.9); }
      header .months-dropdown-menu .month.active .body {
        background-color: rgba(90, 90, 90, 0.9) !important;
        color: #fff; }

.calendar-swiper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }
  .calendar-swiper .swiper-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; }
    .calendar-swiper .swiper-wrapper .swiper-slide {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      transition: filter 250ms ease-in-out; }
      .calendar-swiper .swiper-wrapper .swiper-slide.blur {
        filter: blur(5px); }

.calendar-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 5rem);
  overflow-y: auto; }
  .calendar-page .top {
    flex: 1 0 25vh;
    position: relative;
    color: white;
    width: 100%; }
    .calendar-page .top .top-wrapper {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      width: 110rem;
      height: 100%; }
    .calendar-page .top .calendar-bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 5;
      filter: brightness(0.5);
      display: none; }
    .calendar-page .top .text {
      padding: 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10; }
      .calendar-page .top .text .inner h2,
      .calendar-page .top .text .inner h4 {
        margin: 0; }
      .calendar-page .top .text .inner h2 {
        font-size: 3.5rem;
        line-height: 3rem;
        font-weight: 700; }
      .calendar-page .top .text .inner h4 {
        font-size: 1.8rem;
        opacity: 0.5;
        font-weight: 500;
        text-transform: uppercase; }
    .calendar-page .top .event-summary {
      padding: 1rem;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10; }
      .calendar-page .top .event-summary table {
        max-width: 30rem; }
        .calendar-page .top .event-summary table td {
          vertical-align: top;
          font-size: 1.2rem; }
          .calendar-page .top .event-summary table td.icon {
            width: 3rem; }

.calendar-container {
  flex: 3;
  padding: 0.5rem;
  max-width: 100%;
  width: 110rem; }
  .calendar-container .calendar {
    height: 100%;
    display: flex;
    flex-direction: column; }
    .calendar-container .calendar .weekdays {
      display: none; }
    .calendar-container .calendar .grid {
      flex: 1;
      height: 100%; }
      .calendar-container .calendar .grid .day-square {
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        background: rgba(255, 255, 255, 0.7);
        margin: 0.75rem 0;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); }
        .calendar-container .calendar .grid .day-square.innactive {
          display: none; }
          .calendar-container .calendar .grid .day-square.innactive .banner {
            background-color: rgba(153, 153, 153, 0.7); }
        .calendar-container .calendar .grid .day-square.no-events {
          margin: 0.25rem 0;
          opacity: 0.75; }
          .calendar-container .calendar .grid .day-square.no-events .contents {
            display: none; }
        .calendar-container .calendar .grid .day-square .banner {
          padding: 0.25rem 0.75rem;
          font-weight: bold;
          color: white;
          background: rgba(68, 68, 68, 0.7);
          display: flex;
          align-items: center;
          flex: 0 0 auto; }
          .calendar-container .calendar .grid .day-square .banner .mbl-weekday-text {
            opacity: 0.6;
            font-weight: normal; }
          .calendar-container .calendar .grid .day-square .banner.weekend {
            font-weight: bold;
            background-color: rgba(179, 33, 0, 0.7); }
        .calendar-container .calendar .grid .day-square .contents {
          flex: 1;
          padding: 1.5rem 0.75rem; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(1rem); } }

.hero-wrapper {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  position: relative; }
  .hero-wrapper .hero-swiper-container {
    flex: 1;
    overflow: hidden;
    background-color: #eee;
    display: none; }
    .hero-wrapper .hero-swiper-container .hero-article-wrapper article {
      position: relative;
      width: 100%;
      height: 100%;
      display: block; }
      .hero-wrapper .hero-swiper-container .hero-article-wrapper article img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1; }
      .hero-wrapper .hero-swiper-container .hero-article-wrapper article .hero-title {
        margin: 1rem 1rem 0;
        padding: 0.5rem 1rem;
        padding-top: 1rem;
        background: salmon;
        color: white;
        z-index: 2;
        display: inline-block;
        font-size: 3rem;
        font-weight: 200;
        border-radius: 5px;
        opacity: 0.85;
        display: inline-block;
        width: auto; }
      .hero-wrapper .hero-swiper-container .hero-article-wrapper article .date {
        margin: 1rem 1rem 0;
        padding: 0.5rem 1rem;
        padding-top: 1rem;
        background: white;
        z-index: 2;
        display: inline-block;
        font-weight: 600;
        border-radius: 5px;
        opacity: 0.85;
        display: inline-block;
        width: auto; }
  .hero-wrapper .hero-text-wrapper {
    display: flex;
    flex-direction: column;
    flex: 2; }
    .hero-wrapper .hero-text-wrapper .upper,
    .hero-wrapper .hero-text-wrapper .lower {
      flex: 1;
      position: relative;
      padding: 1rem; }
    .hero-wrapper .hero-text-wrapper .upper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative; }
      .hero-wrapper .hero-text-wrapper .upper .hero-logo {
        position: absolute;
        top: 1.7rem;
        width: 10rem;
        object-fit: cover;
        left: calc(50% - 5rem);
        z-index: 10;
        filter: none; }
      .hero-wrapper .hero-text-wrapper .upper .text {
        color: white;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        position: relative;
        text-align: center;
        margin-bottom: 20vh; }
        .hero-wrapper .hero-text-wrapper .upper .text.homepage-text {
          margin-bottom: 0; }
        .hero-wrapper .hero-text-wrapper .upper .text h1 {
          font-size: 4rem;
          line-height: 3.6rem;
          margin: 0;
          font-weight: 600; }
        .hero-wrapper .hero-text-wrapper .upper .text h2 {
          font-size: 3rem;
          line-height: 2.6rem;
          margin: 0;
          font-weight: 600; }
        .hero-wrapper .hero-text-wrapper .upper .text h4 {
          font-size: 1.2rem;
          margin: 0;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 1;
          opacity: 0.75; }
        .hero-wrapper .hero-text-wrapper .upper .text .scroll-prompt {
          position: absolute;
          top: 30vh;
          left: 1rem;
          display: inline-block;
          text-align: center;
          margin-top: 2rem;
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
          z-index: 10;
          padding: 0.75rem;
          border-radius: 10px;
          font-size: 1.5rem; }
          .hero-wrapper .hero-text-wrapper .upper .text .scroll-prompt span {
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0.75rem; }
          .hero-wrapper .hero-text-wrapper .upper .text .scroll-prompt i {
            line-height: 0.5;
            animation: bounce 0.6s;
            animation-direction: alternate;
            animation-iteration-count: infinite; }
          .hero-wrapper .hero-text-wrapper .upper .text .scroll-prompt:hover {
            cursor: pointer; }
      .hero-wrapper .hero-text-wrapper .upper .hero-bg-image {
        position: absolute;
        height: 125%;
        width: 100%;
        bottom: 0;
        right: 0;
        object-fit: cover;
        filter: brightness(0.5);
        z-index: -1; }
    .hero-wrapper .hero-text-wrapper .lower {
      background-color: #00467f;
      color: white;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 300; }
      .hero-wrapper .hero-text-wrapper .lower .text {
        display: flex;
        flex-direction: column; }
      .hero-wrapper .hero-text-wrapper .lower .counter {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 600;
        display: inline-block;
        flex: 0 0 auto;
        padding-top: 2rem; }
      .hero-wrapper .hero-text-wrapper .lower .hero-blurb {
        flex: 1; }
      .hero-wrapper .hero-text-wrapper .lower .home-cta {
        padding: 0.75rem 1rem;
        background-color: salmon;
        color: white;
        border-radius: 3px;
        margin-top: 2.5rem;
        display: inline-block; }
        .hero-wrapper .hero-text-wrapper .lower .home-cta:hover {
          cursor: pointer; }
    .hero-wrapper .hero-text-wrapper .lower:before {
      position: absolute;
      top: 0;
      right: 100%;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-color: inherit; }

.event-wrapper {
  padding: 0;
  margin: 0; }

.event {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden; }
  .event.minor {
    background-color: #444; }
    .event.minor .details {
      padding: 2rem 0;
      background-color: #888; }
      .event.minor .details .text {
        background-color: transparent;
        color: white; }
  .event.major {
    background-color: #00569d; }
    .event.major .details {
      padding: 8rem 0; }
  .event.seasonal {
    background-color: #c24622; }
    .event.seasonal .details {
      padding: 4rem 0; }
  .event .details {
    flex: 1;
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #fff; }
    .event .details .text {
      padding: 2rem;
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 8px;
      margin: 0 auto;
      max-width: 650px;
      z-index: 5; }
    .event .details img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2; }
    .event .details i {
      font-size: 1.5rem !important;
      width: 3rem; }
    .event .details .title {
      font-weight: 600;
      font-size: 2.2rem; }
    .event .details .venue {
      font-size: 1.6rem; }
  .event .date {
    flex: 1;
    flex-basis: 45%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0.5rem; }
    .event .date img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2; }
    .event .date table {
      /* background-color: rgba(255, 255, 255, 0.8); */
      border-radius: 10px; }
      .event .date table td {
        padding: 0.25rem;
        line-height: 1; }
      .event .date table .ddmm {
        font-weight: bold;
        font-size: 2rem; }
      .event .date table .day {
        font-size: 1.2rem; }

@media (min-width: 768px) {
  header .months-dropdown-menu {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    header .months-dropdown-menu .month .banner span {
      display: none; }
    header .months-dropdown-menu .month .body {
      display: flex; }
  .hero-wrapper .hero-swiper-container {
    display: block; }
  .event {
    flex-direction: row; }
    .event .date {
      text-align: center; }
      .event .date table {
        margin: auto; }
        .event .date table td {
          padding: 0.5rem; }
        .event .date table .ddmm {
          font-size: 2.9rem; }
        .event .date table .day {
          font-size: 2rem;
          border-top: 1px solid rgba(255, 255, 255, 0.5); }
    .event:nth-of-type(odd) .details {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 18.18% 100%);
      padding-left: 10%; }
    .event:nth-of-type(even) {
      flex-direction: row-reverse; }
      .event:nth-of-type(even) .details {
        clip-path: polygon(0% 0%, 100% 0%, 81.82% 100%, 0% 100%);
        padding-right: 10%; }
  .calendar-page .top .top-wrapper {
    flex-direction: row; }
  .calendar-page .top .text .inner h2 {
    font-size: 6rem;
    line-height: 5rem; }
  .calendar-page .top .text .inner h4 {
    font-size: 2.2rem; }
  .calendar-page .top .event-summary table td {
    font-size: 1.2rem; }
  .calendar-container .calendar .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.2rem;
    flex: 0 0 auto;
    margin: 0.2rem 0;
    border-radius: 0.2rem; }
    .calendar-container .calendar .weekdays div {
      padding: 0.25rem;
      border-radius: 0.2rem;
      background: #00366f;
      color: white;
      text-align: center;
      font-weight: 300;
      font-size: 1.2rem; }
  .calendar-container .calendar .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.2rem; }
    .calendar-container .calendar .grid .day-square {
      overflow-y: auto;
      max-height: 15rem;
      min-height: 9rem;
      margin: 0;
      border-radius: 0.2rem; }
      .calendar-container .calendar .grid .day-square.innactive {
        display: flex; }
      .calendar-container .calendar .grid .day-square.no-events {
        min-height: 10rem;
        max-height: 15rem;
        width: unset;
        height: unset;
        border-radius: 0.2rem;
        margin: 0;
        opacity: 1; }
        .calendar-container .calendar .grid .day-square.no-events .contents {
          display: block;
          padding: 0.75rem; }
      .calendar-container .calendar .grid .day-square .contents {
        max-height: 75%;
        overflow-y: auto;
        overflow-x: hidden; }
      .calendar-container .calendar .grid .day-square .banner .mbl-weekday-text {
        display: none; } }

@media (min-width: 992px) {
  .header-logo {
    display: block; }
  .hero-logo {
    display: none; }
  header .show-months-btn {
    right: -5rem; }
  header .months-dropdown-menu {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr); } }

@media (min-width: 1200px) {
  .hero-wrapper {
    flex-direction: row; }
    .hero-wrapper .hero-swiper-container {
      flex-basis: 55%;
      clip-path: polygon(0% 0%, 100% 0%, 81.82% 100%, 0% 100%); }
    .hero-wrapper .hero-text-wrapper {
      flex: 1;
      flex-basis: 45%; }
      .hero-wrapper .hero-text-wrapper .upper,
      .hero-wrapper .hero-text-wrapper .lower {
        padding: 1rem 1rem 1rem 2rem; }
      .hero-wrapper .hero-text-wrapper .upper {
        align-items: flex-start; }
        .hero-wrapper .hero-text-wrapper .upper .text {
          text-align: left;
          margin-bottom: 0; }
          .hero-wrapper .hero-text-wrapper .upper .text h1 {
            font-size: 12rem;
            line-height: 10rem; }
          .hero-wrapper .hero-text-wrapper .upper .text h2 {
            font-size: 8rem;
            line-height: 7.5rem; }
          .hero-wrapper .hero-text-wrapper .upper .text h4 {
            font-size: 2.2rem; }
          .hero-wrapper .hero-text-wrapper .upper .text .scroll-prompt {
            top: 100%; }
        .hero-wrapper .hero-text-wrapper .upper .hero-bg-image {
          height: 100%;
          width: 125%;
          top: 0;
          bottom: unset; }
      .hero-wrapper .hero-text-wrapper .lower {
        font-size: 1.6rem; }
        .hero-wrapper .hero-text-wrapper .lower .text {
          flex-direction: row; }
        .hero-wrapper .hero-text-wrapper .lower .counter {
          font-size: 6rem;
          line-height: 6rem; }
        .hero-wrapper .hero-text-wrapper .lower .hero-blurb {
          border-left: 2px solid white;
          padding-left: 1rem;
          padding-top: 2rem;
          padding-bottom: 2rem;
          margin-left: 1rem; } }
