html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Biryani';
  color: #444; }

*,
*::before,
*::after {
  box-sizing: border-box; }

#page-wrapper {
  margin: 0;
  padding: 0;
  position: relative; }

header {
  width: 100%;
  height: 4rem;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  background: white; }
  header a {
    text-decoration: none;
    color: inherit;
    font-weight: 200;
    font-size: 1.6rem; }

.hero-wrapper {
  padding-top: 4rem;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #eee; }

.hero-article-wrapper {
  position: relative;
  flex: 1;
  flex-basis: 55%;
  clip-path: polygon(0% 0%, 100% 0%, 81.82% 100%, 0% 100%);
  overflow: hidden; }
  .hero-article-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1; }
  .hero-article-wrapper .hero-title {
    margin: 1rem 1rem 0;
    padding: 0.5rem 1rem;
    padding-top: 1rem;
    background: salmon;
    color: white;
    z-index: 2;
    display: inline-block;
    font-size: 3rem;
    font-weight: 200;
    border-radius: 5px;
    opacity: 0.85; }
  .hero-article-wrapper .date {
    margin: 1rem 1rem 0;
    padding: 0.5rem 1rem;
    padding-top: 1rem;
    background: white;
    z-index: 2;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    opacity: 0.85; }

.hero-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 45%;
  font-family: 'Vidaloka';
  font-size: 2.4rem;
  padding: 1rem 1.5rem 1rem 0.25rem; }

.event-wrapper {
  padding: 0;
  margin: 0; }

.event {
  display: flex;
  width: 100%;
  overflow: hidden; }
  .event.minor {
    background-color: #444; }
    .event.minor .details {
      padding: 2rem 0;
      background-color: #888; }
      .event.minor .details .text {
        background-color: transparent;
        color: white; }
  .event.major {
    background-color: #00569d; }
    .event.major .details {
      padding: 8rem 0; }
  .event.seasonal {
    background-color: #c24622; }
    .event.seasonal .details {
      padding: 4rem 0; }
      .event.seasonal .details .text .title {
        font-family: 'Vidaloka'; }
  .event .details {
    flex: 1;
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #fff; }
    .event .details .text {
      padding: 2rem;
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 8px;
      margin: 0 auto;
      max-width: 650px; }
    .event .details img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1; }
    .event .details i {
      font-size: 1.5rem !important;
      width: 3rem; }
    .event .details .title {
      font-weight: bold;
      font-size: 2.2rem; }
    .event .details .venue {
      font-size: 1.6rem; }
  .event .date {
    flex: 1;
    flex-basis: 45%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Vidaloka';
    display: flex;
    align-items: center; }
    .event .date img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2; }
    .event .date table {
      margin: auto;
      /* background-color: rgba(255, 255, 255, 0.8); */
      border-radius: 10px; }
      .event .date table td {
        padding: 0.5rem; }
      .event .date table .ddmm {
        font-weight: bold;
        font-size: 2.9rem; }
      .event .date table .day {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 2rem; }
  .event:nth-of-type(odd) .details {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 18.18% 100%);
    padding-left: 10%; }
  .event:nth-of-type(even) {
    flex-direction: row-reverse; }
    .event:nth-of-type(even) .details {
      clip-path: polygon(0% 0%, 100% 0%, 81.82% 100%, 0% 100%);
      padding-right: 10%; }
