html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Jost';
    color: #444;
}

body {
    overflow-y: scroll;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#page-loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
    background-color: rgba(210, 210, 210, 0.6);
    span {
        display: block;
        padding: 2rem;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 1px;
        color: #999;
        font-weight: bold;
    }
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes arrow-bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}

#page-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    width: 100%;
    height: 5rem;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    background-color: #333;
    color: white;
    a {
        text-decoration: none;
        color: inherit;
        font-weight: 200;
        font-size: 1.6rem;
    }
    .month-navigation {
        font-weight: bold;
        transition: opacity 250ms linear;
        line-height: 0;
        &:hover {
            cursor: pointer;
        }
    }
    .month-text {
        position: relative;
        transform: rotateY(0deg);
        transition: transform 150ms ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14rem;
        padding: 1rem 0;
        text-align: center;
        font-size: 1.8rem;
        font-family: 'Vidaloka';
        &.spin {
            transform: rotateY(90deg);
        }
        strong {
            font-size: inherit;
            letter-spacing: 2px;
            font-size: 1.8rem;
        }
        i {
            line-height: 1;
            font-size: 1.4rem;
            margin-left: 0.75rem;
            transform: none;
            transition: transform 250ms linear;
            &.open {
                transform: rotate(180deg);
                animation: none !important;
            }
        }
        &:hover {
            cursor: pointer;
            // i {
            //     animation-name: arrow-bounce;
            //     animation-duration: 0.38s;
            //     animation-iteration-count: 2;
            // }
        }
    }
    .months-dropdown-menu {
        font-size: 2rem;
        position: absolute;
        width: 100%;
        left: 0;
        top: 5rem;
        height: calc(100vh - 5rem);
        opacity: 0;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0.25rem;
        overflow: hidden;
        transition: opacity 400ms ease-out;
        display: none;
        padding: 0.25rem;
        &.open {
            opacity: 1;
        }
        .month {
            display: flex;
            flex-direction: column;
            // border: 1px solid rgba(0, 0, 0, 0.05);
            // border: 5px solid transparent;
            &:hover {
                cursor: pointer;
            }
            .banner {
                padding: 0.5rem;
                background: rgba(0, 69, 127, 0.9);
                color: white;
                font-weight: bold;
                font-family: 'Vidaloka';
            }
            .body {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(230, 230, 230, 0.65);
                color: #444;
                font-size: 1.8rem;
                font-weight: 600;
                border: 1px solid rgba(220, 220, 220, 0.75)
            }
        }
        // .month:nth-of-type(3n) {
        //     background-color: royalblue;
        // }
        // .month:nth-of-type(3n+1) {
        //     background-color: red;
        // }
        // .month:nth-of-type(3n+2) {
        //     background-color: green;
        // }
    }
}

.page-content {
    background: #eee;
    transition: filter 400ms ease-in-out, opacity 400ms ease-in-out;
    &.menu-open {
        filter: blur(10px);
        opacity: 0.5;
    }
}

.hero-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #eee;
    padding-top: 5rem;
    .hero-swiper-container {
        flex: 1;
        flex-basis: 55%;
        clip-path: polygon(0% 0%, 100% 0%, 81.82% 100%, 0% 100%);
        overflow: hidden;
        .hero-article-wrapper {
            article {
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    display: block;
                    z-index: -1;
                }
                .hero-title {
                    margin: 1rem 1rem 0;
                    padding: 0.5rem 1rem;
                    padding-top: 1rem;
                    background: salmon;
                    color: white;
                    z-index: 2;
                    display: inline-block;
                    font-size: 3rem;
                    font-weight: 200;
                    border-radius: 5px;
                    opacity: 0.85;
                }
                .date {
                    margin: 1rem 1rem 0;
                    padding: 0.5rem 1rem;
                    padding-top: 1rem;
                    background: white;
                    z-index: 2;
                    display: inline-block;
                    font-weight: 700;
                    border-radius: 5px;
                    opacity: 0.85;
                }
            }
        }
    }
    .hero-text-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        flex-basis: 45%;
        font-family: 'Vidaloka';
        font-size: 2.4rem;
        padding: 1rem 1.5rem 1rem 0.25rem;
    }
}

.event-wrapper {
    padding: 0;
    margin: 0;
}

.event {
    display: flex;
    width: 100%;
    overflow: hidden;
    &.minor {
        background-color: #444;
        .details {
            padding: 2rem 0;
            background-color: #888;
            .text {
                background-color: transparent;
                color: white;
            }
        }
    }
    &.major {
        background-color: #00569d;
        .details {
            padding: 8rem 0;
        }
    }
    &.seasonal {
        background-color: #c24622;
        .details {
            padding: 4rem 0;
            .text {
                .title {
                    font-family: 'Vidaloka';
                }
            }
        }
    }
    .details {
        flex: 1;
        flex-basis: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        background-color: #fff;
        .text {
            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.85);
            border-radius: 8px;
            margin: 0 auto;
            max-width: 650px;
        }
        img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
        i {
            font-size: 1.5rem !important;
            width: 3rem;
        }
        .title {
            font-weight: bold;
            font-size: 2.2rem;
        }
        .venue {
            font-size: 1.6rem;
        }
    }
    .date {
        flex: 1;
        flex-basis: 45%;
        z-index: 1;
        position: relative;
        overflow: hidden;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: 'Vidaloka';
        display: flex;
        align-items: center;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 2;
        }
        table {
            margin: auto;
            /* background-color: rgba(255, 255, 255, 0.8); */
            border-radius: 10px;
            td {
                padding: 0.5rem;
            }
            .ddmm {
                font-weight: bold;
                font-size: 2.9rem;
            }
            .day {
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                font-size: 2rem;
            }
        }
    }
    &:nth-of-type(odd) {
        .details {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 18.18% 100%);
            padding-left: 10%;
        }
    }
    &:nth-of-type(even) {
        flex-direction: row-reverse;
        .details {
            clip-path: polygon(0% 0%, 100% 0%, 81.82% 100%, 0% 100%);
            padding-right: 10%;
        }
    }
}