@import 'hamburger';
$cl-training: rgb(59, 160, 32);
$cl-seasonal: rgb(221, 92, 15);
$cl-fnblue: #00467f;
$cl-fnblue-darkened: #00366f;
$cl-offblack: rgb(26, 26, 26);
$cl-bodygrey: #444444;
$cl-whitegrey: #eeeeee;
$cl-feature-purple: rgb(94, 19, 148);
$cl-headerbg: #dfdfdf;
$br-sm: 0.13rem;
$br-md: 0.22rem;
$br-lg: 0.5rem;
$br-xl: 0.75rem;
$br-xxl: 1rem;
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    #page-wrapper {
        display: none !important;
    }
    body::after {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        content: 'Unfortunately this website is not supported in Internet Explorer. Please try another browser.';
        text-align: center;
        font-size: 20px;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Jost";
    color: $cl-bodygrey;
    font-size: 14px;
}

body {
    overflow: hidden;
}

.calendar-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
    position: relative;
}

.calendar-slide:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.25;
    z-index: -4;
    top: 0;
    left: 0;
}

// .calendar-page {
//     backdrop-filter: brightness(0.7);
// }
// calendar bg images
#february-slider {
    background-image: url(../img/february.jpg);
}

#march-slider {
    background-image: url(../img/march.jpg);
}

#april-slider {
    background-image: url(../img/april.jpg);
}

#may-slider {
    background-image: url(../img/may.jpg);
}

#june-slider {
    background-image: url(../img/june.jpg);
}

#july-slider {
    background-image: url(../img/july.jpg);
}

#august-slider {
    background-image: url(../img/august.jpg);
}

#september-slider {
    background-image: url(../img/september.jpg);
}

#october-slider {
    background-image: url(../img/october.jpg);
}

#november-slider {
    background-image: url(../img/november.jpg);
}

#december-slider {
    background-image: url(../img/december.jpg);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $cl-bodygrey;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: $cl-whitegrey;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #ccc;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#page-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: $cl-whitegrey;
    position: relative;
    header {
        flex: 0 0 auto;
    }
    .calendar-swiper {
        flex: 1;
    }
    .cal-loader {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5000;
        background-color: rgb(245, 245, 245);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: 200;
            font-size: 2.5rem;
        }
        &.fade {
            opacity: 0;
        }
        &.hidden {
            display: none;
        }
    }
}

.event-modal-wrapper {
    position: fixed;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -5000;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    padding: 0.75rem 0.75rem 3.75rem;
    overflow-y: auto;
    .event-modal {
        position: relative;
        // width: 100%;
        // height: 100%;
        max-width: 40rem;
        margin: 5rem auto 0;
        background: #fff;
        z-index: 1000;
        border-radius: $br-xl;
        transition: transform 250ms ease-in-out;
        transform: scale(0);
        .close-btn {
            position: absolute;
            top: -0.55rem;
            right: -0.55rem;
            height: 2.2rem;
            width: 2.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            color: $cl-bodygrey;
            border: 1px solid rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
            border-radius: 50%;
            z-index: 10;
            transition: transform 150ms linear;
            &:hover {
                cursor: pointer;
                transform: scale(1.15);
            }
        }
        &>.inner {
            border-radius: $br-lg;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            .banner {
                background-color: rgba($cl-bodygrey, 0.85);
                color: white;
                padding: 0.5rem 1rem;
                font-weight: 500;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
                border-top-left-radius: 0.55rem;
                border-top-right-radius: 0.55rem;
                z-index: 1;
                flex: 0 0 auto;
                &.major {
                    background-color: $cl-fnblue;
                }
                &.minor {
                    color: $cl-fnblue;
                    background-color: #eee;
                }
                &.seasonal {
                    background-color: $cl-seasonal;
                }
                &.training {
                    background-color: $cl-training;
                }
                &.convention {
                    background-color: $cl-feature-purple;
                }
            }
            .image {
                flex: 1;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
            .details {
                flex: 1;
                // background: rgba(68, 68, 68, 0.85);
                // backdrop-filter: blur(5px);
                background: rgba(255, 255, 255, 0.85);
                padding: 0.75rem;
                .columns {
                    display: flex;
                    flex-direction: column;
                    .text {
                        flex: 1;
                        .title {
                            font-size: 1.6rem;
                            font-weight: 700;
                        }
                        .venue,
                        .city {
                            font-size: 1.2rem;
                            font-weight: 400;
                            opacity: 0.8;
                            i {
                                margin-right: 0.75rem;
                            }
                        }
                    }
                    .links {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        margin: 0.75rem 0 0.25rem;
                        a {
                            text-decoration: none;
                            padding: 0.3rem 0.65rem;
                            border-radius: $br-md;
                            color: white;
                            font-weight: 500;
                            font-size: 0.9rem;
                            // margin-right: 0.5rem;
                            // margin-bottom: 0.5rem;
                            height: 2.2rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:hover {
                                cursor: pointer;
                            }
                            &.info {
                                background-color: rgba(6, 126, 106, 1);
                            }
                            &.register {
                                background-color: rgba(194, 70, 34, 1);
                            }
                            &.add-to-calendar {
                                background-color: $cl-whitegrey;
                                color: $cl-bodygrey;
                            }
                        }
                    }
                }
                .description {
                    height: 100%;
                }
            }
        }
    }
    &.shown {
        opacity: 1;
        .event-modal {
            transform: scale(1);
        }
    }
}

@keyframes nav-prompt {
    0% {
        transform: translateX(0rem);
    }
    50% {
        transform: translateX(0.8rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

header {
    &:before,
    &:after {
        content: "";
        display: block;
        height: 3rem;
        width: 3rem;
        border-left: 2px solid $cl-headerbg;
        border-top: 2px solid $cl-headerbg;
        transform: skewX(-30deg);
        border-top-left-radius: 10px;
        position: absolute;
        top: 0px;
        left: -1.4rem;
        background-color: $cl-headerbg;
        z-index: -1;
    }
    &:after {
        transform: rotateY(180deg) skewX(-30deg);
        left: unset;
        right: -1.4rem;
    }
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    height: 3rem;
    // background: linear-gradient(to right, #4d4d4f, #00467f, #4d4d4f);
    background: $cl-headerbg;
    color: $cl-bodygrey;
    // height: 5rem;
    padding: 0.4rem 0;
    position: fixed;
    bottom: 0;
    width: 18rem;
    left: calc(50vw - 9rem);
    .navigation {
        position: relative;
        display: flex;
        justify-content: center;
    }
    a {
        flex: 0;
        flex-basis: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 250ms ease-in-out;
        font-size: 1.25rem;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
    .month-text-container {
        flex: 0 1 auto;
        overflow: hidden;
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
        width: 11rem;
        max-width: 100%;
        font-weight: 600;
        .swiper-wrapper {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            .swiper-slide {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 200ms linear;
                &.swiper-slide-active {
                    opacity: 1;
                }
            }
        }
    }
    .show-months-btn {
        position: absolute;
        left: -2.4rem;
        bottom: calc(50% - 12px);
        padding: 0;
        transform: scale(0.7);
        &:focus {
            outline: none;
        }
    }
    .months-dropdown-menu {
        position: fixed;
        width: 100vw;
        left: 0;
        bottom: 3rem;
        height: calc(100% - 3rem);
        opacity: 0;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 0.25rem;
        transition: opacity 200ms ease-out;
        display: none;
        padding: 0.25rem;
        overflow-y: auto;
        &.open {
            opacity: 1;
        }
        .month {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.2rem;
            background-color: rgba(0, 0, 0, 0.05);
            color: white;
            font-weight: 500;
            font-size: 1.5rem;
            border: 1px solid rgba(255, 255, 255, 0.05);
            border-radius: $br-sm;
            text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.4);
            .year {
                font-size: 3.4rem;
                font-weight: 700;
            }
            &.active {
                background-color: rgba($cl-fnblue, 0.6);
                border: 2px solid rgba(255, 255, 255, 0.75);
                box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.calendar-swiper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    .swiper-wrapper {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        .swiper-slide {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            transition: filter 300ms ease-in-out;
            overflow-x: hidden;
            &.blur {
                filter: blur(6px) brightness(0.6);
            }
        }
    }
}

.hero-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    .top,
    .bottom {
        flex: 1;
    }
    .top {
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
        .hero-bg-img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 1;
        }
        .text {
            z-index: 1;
            border-radius: $br-md;
            background: rgba(0, 0, 0, 0.12);
            backdrop-filter: blur(0.25rem);
            border: 1px solid rgba(255, 255, 255, 0.5);
            max-width: 30rem;
            margin: 0.75rem;
            text-align: center;
            h1 {
                font-size: 6.5rem;
                line-height: 5.5rem;
                font-weight: 700;
                margin: 0;
                padding: 0 1rem;
            }
            h4 {
                font-size: 1.4rem;
                text-transform: uppercase;
                margin: 0;
                opacity: 0.7;
                padding: 1rem 1rem 0;
            }
            div {
                padding: 1rem;
                margin-top: 1rem;
                border-top: 3px solid rgba(255, 255, 255, 0.5);
                background: rgba(0, 0, 0, 0.65);
                font-size: 1.1rem;
            }
        }
    }
    .bottom {
        z-index: 1;
        background: $cl-fnblue;
        // &:before {
        //     content: '';
        //     position: absolute;
        //     height: 100%;
        //     width: 100%;
        //     bottom: 50%;
        //     left: 0;
        //     background: $cl-fnblue;
        // }
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .counter-container {
            display: flex;
            justify-content: center;
            margin: 3rem 1rem 0;
            align-items: center;
            max-width: 24rem;
            .counter {
                font-size: 5rem;
                font-weight: 700;
                opacity: 0.65;
                line-height: 0.8;
            }
            .text {
                font-size: 1.15rem;
                font-weight: 200;
                margin: 0 0 0 0.75rem;
                padding: 0 0 0 0.5rem;
                line-height: 1.25;
                border-left: 2px solid rgba(255, 255, 255, 0.5);
            }
        }
        .prompt-container {
            width: 20rem;
            display: flex;
            margin-bottom: 7rem;
            bottom: 0;
            p {
                flex: 1;
                margin: 0;
                margin-right: -120px;
                font-size: 2.2rem;
                font-weight: 500;
                letter-spacing: 1px;
                text-align: center;
            }
            img {
                width: 120px;
                height: 150px;
                transform: rotate(-55deg) translateY(40px) translateX(-40px);
                display: block;
                margin-left: auto;
                flex: 0 0 auto;
            }
        }
    }
}

.calendar-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    padding: 0.5rem;
    .top {
        flex: 1 0 25vh;
        position: relative;
        color: white;
        width: 100%;
        .top-wrapper {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            max-width: 100%;
            width: 110rem;
            height: 100%;
        }
        .calendar-bg-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 5;
            filter: brightness(0.5);
            display: none;
        }
        .text {
            padding: 1rem;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            .inner {
                h2,
                h4 {
                    margin: 0;
                }
                h2 {
                    font-size: 2.7rem;
                    font-weight: 700;
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
                    padding: 1.1rem 2.5rem;
                    border-radius: $br-sm;
                    background: rgba(0, 0, 0, 0.12);
                    backdrop-filter: blur(0.75rem);
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.2);
                }
            }
        }
        .event-summary {
            padding: 1rem;
            flex: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 10;
            .convention-feature {
                margin: 2rem 0;
                padding: 1rem;
                width: 39rem;
                max-width: 100%;
                text-align: center;
                // background: $cl-fnblue;
                // border-top: 2px solid rgba(255, 255, 255, 0.5);
                // border-bottom: 2px solid rgba(255, 255, 255, 0.5);
                border: 2px solid rgba(255, 255, 255, 0.6);
                background: rgba($cl-feature-purple, 0.5);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $br-sm;
                overflow: hidden;
                box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
                i {
                    font-size: 1rem;
                    margin: 0 1rem;
                    opacity: 1;
                }
                .text {
                    .title {
                        letter-spacing: 0.15rem;
                        text-shadow: 0px 0px 3px rgba($cl-bodygrey, 0.5);
                        font-weight: 500;
                        font-size: 2rem;
                    }
                    .details {
                        display: flex;
                        justify-content: center;
                        font-size: 1rem;
                        opacity: 0.75;
                        font-weight: 400;
                        &>div {
                            padding: 0 0.75rem;
                            border-right: 2px solid rgba(255, 255, 255, 0.5);
                            letter-spacing: 0;
                            &:last-child {
                                border: none;
                            }
                        }
                    }
                }
            }
            .summary-columns {
                display: none;
                justify-content: center;
                gap: 0.13rem;
                width: 45rem;
                max-width: 100%;
                margin: 1rem;
                &>div {
                    display: flex;
                    flex-direction: column;
                    border-radius: $br-sm;
                    overflow: hidden;
                    flex: 0 1 20rem;
                    .banner {
                        text-align: center;
                        padding: 0.25rem;
                        flex: 0 0 auto;
                        font-size: 1.3rem;
                    }
                    .contents {
                        padding: 0.75rem;
                        // background: rgba(255, 255, 255, 0.7);
                        // color: #444;
                        background: rgba(255, 255, 255, 0.8);
                        color: $cl-bodygrey;
                        flex: 1;
                        .list-event {
                            padding-left: 0.5rem;
                            margin: 0.3rem 0;
                            border-left: 3px solid;
                            line-height: 1.1;
                        }
                    }
                }
                .major {
                    .banner {
                        background: rgba($cl-fnblue, 0.85);
                    }
                    .contents {
                        .list-event {
                            border-color: rgba($cl-fnblue, 0.85);
                            font-weight: 500;
                        }
                    }
                }
                .training {
                    .banner {
                        background: rgba($cl-training, 0.85);
                    }
                    .contents {
                        .list-event {
                            border-color: rgba($cl-training, 0.85);
                        }
                    }
                }
                .seasonal {
                    .banner {
                        background: rgba($cl-seasonal, 0.85);
                    }
                    .contents {
                        .list-event {
                            border-color: rgba($cl-seasonal, 0.85);
                        }
                    }
                }
            }
        }
    }
}

.calendar-container {
    flex: 3;
    padding: 0.5rem;
    padding-bottom: 3.5rem;
    max-width: 100%;
    width: 110rem;
    .calendar {
        height: 100%;
        display: flex;
        flex-direction: column;
        .weekdays {
            display: none;
        }
        .grid {
            flex: 1;
            height: 100%;
            .day-square {
                // backdrop-filter: blur(3px);
                // -webkit-backdrop-filter: blur(3px);
                background: rgba(255, 255, 255, 0.15);
                margin: 0.75rem 0;
                border-radius: $br-xxl;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                padding: 0;
                &.innactive {
                    display: none;
                    background: rgba(255, 255, 255, 0.05);
                    .banner {
                        background-color: rgba(153, 153, 153, 0.1);
                        opacity: 0.7;
                    }
                }
                &.no-events {
                    display: none;
                    .contents {
                        display: none;
                    }
                    margin: 0.25rem 0;
                    opacity: 0.75;
                }
                .banner {
                    padding: 0.07rem 0.4rem;
                    font-weight: 500;
                    color: white;
                    background: rgba($cl-bodygrey, 0.85);
                    display: flex;
                    align-items: center;
                    flex: 0 0 auto;
                    .mbl-weekday-text {
                        opacity: 0.6;
                        font-weight: normal;
                    }
                    &.weekend {
                        background-color: rgba(118, 118, 118, 0.85);
                        // background-color: #222;
                    }
                }
                .contents {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    padding: 0.25rem;
                    gap: 0.25rem;
                    .day-event {
                        display: flex;
                        // justify-content: center;
                        align-items: stretch;
                        color: white;
                        border-radius: $br-xl;
                        overflow: hidden;
                        font-weight: 500;
                        &:hover {
                            cursor: pointer;
                        }
                        .color-bar {
                            flex: 0 0 auto;
                            width: 0.75rem;
                        }
                        span {
                            flex: 1;
                            display: flex;
                            align-items: center;
                        }
                    }
                    .major {
                        order: 3;
                        background-color: rgba($cl-fnblue, 0.9);
                        color: white;
                        font-size: 1.1rem;
                        .color-bar {
                            background-color: $cl-whitegrey;
                        }
                        span {
                            padding: 2.2rem 1rem;
                        }
                    }
                    .convention {
                        order: 2;
                        background-color: rgba($cl-feature-purple, 0.9);
                        color: white;
                        font-size: 1.1rem;
                        border: 1px solid rgba(255, 255, 255, 0.7);
                        .color-bar {
                            background-color: $cl-whitegrey;
                        }
                        span {
                            padding: 2.2rem 1rem;
                        }
                    }
                    .minor {
                        order: 4;
                        background-color: rgba($cl-whitegrey, 0.9);
                        color: $cl-fnblue;
                        font-size: 1rem;
                        .color-bar {
                            background-color: $cl-fnblue;
                        }
                        span {
                            padding: 0.5rem 1rem;
                        }
                    }
                    .training {
                        order: 5;
                        background-color: rgba($cl-whitegrey, 0.9);
                        color: $cl-training;
                        font-size: 1rem;
                        .color-bar {
                            background-color: $cl-training;
                        }
                        span {
                            padding: 0.5rem 1rem;
                        }
                    }
                    .seasonal {
                        order: 1;
                        background-color: rgba($cl-seasonal, 0.9);
                        color: white;
                        // text-transform: uppercase;
                        font-size: 0.9rem;
                        font-size: 0.85rem;
                        .color-bar {
                            background-color: $cl-seasonal;
                        }
                        span {
                            padding: 0.3rem 1rem;
                        }
                    }
                }
            }
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(1rem);
    }
}

@media (min-width: 576px) {
    html,
    body {
        font-size: 16px;
    }
    .calendar-page {
        .top {
            .text {
                .inner {
                    h2 {
                        font-size: 3.5rem;
                    }
                }
            }
        }
    }
    .hero-container {
        .bottom {
            .counter-container {
                .text {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    header {
        .months-dropdown-menu {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            .month {
                .body {
                    display: flex;
                }
            }
        }
    }
    .calendar-page {
        .top {
            .text {
                .inner {
                    h2 {
                        font-size: 5rem;
                        padding: 2.2rem 3rem;
                    }
                    h4 {
                        font-size: 2.2rem;
                    }
                }
            }
            .event-summary {
                flex: 1;
                .summary-columns {
                    display: flex;
                }
            }
        }
    }
    .calendar-container {
        .calendar {
            border-radius: $br-md;
            overflow: hidden;
            .weekdays {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 0.13rem;
                flex: 0 0 auto;
                margin: 0.13rem 0;
                div {
                    padding: 0.12rem;
                    background: rgba($cl-offblack, 0.55);
                    color: white;
                    text-align: center;
                    font-weight: 300;
                    font-size: 1.05rem;
                    border-top-right-radius: 0.1rem;
                    border-top-left-radius: 0.1rem;
                    overflow: hidden;
                    // &:first-child,
                    // &:last-child {
                    //     background: rgba(56, 56, 56, 0.55);
                    // }
                }
            }
            .grid {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-auto-rows: 1fr;
                gap: 0.13rem;
                border-bottom-right-radius: 0.2rem;
                border-bottom-left-radius: 0.2rem;
                overflow: hidden;
                .day-square {
                    overflow-y: auto;
                    margin: 0;
                    border-radius: 0;
                    // padding: 0.5rem;
                    &.innactive {
                        display: flex;
                    }
                    &.no-events {
                        display: flex;
                        width: unset;
                        height: unset;
                        margin: 0;
                        .contents {
                            display: block;
                            padding: 0.75rem;
                        }
                        opacity: 1;
                    }
                    .contents {
                        overflow-y: auto;
                        overflow-x: hidden;
                        .day-event {
                            border-radius: $br-sm;
                            &:hover {
                                box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
                            }
                            span {
                                height: 100%;
                            }
                            .color-bar {
                                width: 0.45rem;
                            }
                        }
                        .major {
                            flex: 1 0 auto;
                            span {
                                padding: 0.75rem 0.5rem;
                            }
                        }
                        .minor,
                        .training {
                            flex: 0 1 auto;
                            span {
                                display: inline-block;
                                padding: 0.07rem 0.5rem;
                            }
                        }
                        .seasonal {
                            flex: 0 1 auto;
                            span {
                                display: inline-block;
                                padding: 0.02rem 0.5rem;
                            }
                        }
                    }
                    .banner {
                        .mbl-weekday-text {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .hero-container {
        .top {
            .text {
                // text-align: left;
                h1 {
                    font-size: 10rem;
                    line-height: 7.7rem;
                }
                h4 {
                    font-size: 2.1rem;
                }
            }
        }
    }
    .event-modal-wrapper {
        .event-modal {
            &>.inner {
                .details {
                    .columns {
                        flex-direction: row;
                        align-items: center;
                        .links {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    header {
        .months-dropdown-menu {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
}

@media (min-width: 1200px) {
    header {
        .months-dropdown-menu {
            .month {
                &:hover {
                    cursor: pointer;
                    background-color: rgba(78, 78, 78, 0.15);
                }
            }
        }
    }
    .calendar-page {
        .top {
            .top-wrapper {
                flex-direction: row;
            }
        }
        .text {
            .inner {
                h2 {
                    font-size: 6rem;
                    padding: 3rem 3.8rem;
                }
            }
        }
    }
    .hero-container {
        .bottom {
            .counter-container {
                max-width: 34rem;
                .counter {
                    font-size: 7rem;
                }
                .text {
                    font-size: 2.2rem;
                }
            }
        }
    }
}

@media (min-width: 1400px) {}